<nav class="navbar navbar-light bg-light px-5">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-film" style="color: green;"></i>
    <% end %>
  <form class="form-inline">
    <%= link_to "Add list", new_list_path, class: "btn btn-outline-success my-2 my-sm-0", style: "green" %>
  </form>
</nav>

<div class="row m-2">
  <% @lists.each do |list| %>
  <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top " src=<%= cl_image_path list.photo.key, height: 300, crop: :fill %> alt="Card image cap">
    <div class="card-body text-center">
      <%= link_to list.name, list_path(list), class: "btn btn-primary"  %>
    </div>
  </div>
  <% end %>
</div>
